USE [master]
GO
/****** Object:  Database [MessengerDB]    Script Date: 9/16/2026 3:02:54 AM ******/
CREATE DATABASE [MessengerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MessengerDB', FILENAME = N'E:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\MessengerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MessengerDB_log', FILENAME = N'E:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\MessengerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MessengerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MessengerDB]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 9/16/2026 3:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contactId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [varchar](15) NOT NULL,
	[contactUserId] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 9/16/2026 3:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[messageId] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [varchar](15) NOT NULL,
	[receiverId] [varchar](15) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[sentAt] [datetime2](7) NOT NULL,
	[messageDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[messageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 9/16/2026 3:02:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [varchar](15) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PassHash] [varchar](225) NOT NULL,
	[ProfilePicture] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [sentAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [messageDate]
GO
USE [master]
GO
